<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" packages="nl.rug.jbi.jsm.util">
    <Appenders>
        <Console name="SysOut" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>

        <RollingRandomAccessFile name="File" fileName="logs/latest.log" filePattern="logs/%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="[%d{HH:mm:ss}] [%t/%level]: %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <OnStartupTriggeringPolicy/>
            </Policies>
        </RollingRandomAccessFile>

        <!-- Self-defined Plugin: nl.rug.jbi.jsm.util.QueueLogAppender -->
        <Queue name="UserConsole">
            <ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="[%d{HH:mm:ss}]: %msg%n" alwaysWriteExceptions="false"/>
        </Queue>
    </Appenders>
    <Loggers>
        <Root level="debug">
            <AppenderRef ref="SysOut"/>
            <AppenderRef ref="File"/>
            <AppenderRef ref="UserConsole"/>
        </Root>
        <Logger name="nl.rug.jbi.jsm.bcel" level="info">
        </Logger>
    </Loggers>
</Configuration>